h1{
    text-align-last: center;
    width: 700px;
}
.add-box, .change-color{
    margin: 10px 5px 0px 2px;
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid gray;
    text-align: center;
}
#square-area {
    width: 700px;  
    height: 600px;
    border: 1px solid black;
    background-color: #f7f7f7;
    position:relative;
}
.box {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
}

/* created squares style */
.square{width: 50px; height: 50px; position: absolute;}