h1{
    text-align-last: center;
    width: 700px;
}
.add-box, .change-color{
    margin: 10px 5px 0px 2px;
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid gray;
    text-align: center;
}
#root {
    width: 700px;  
    height: 600px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    overflow: hidden;
}
.box {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
}