body {
    margin : 10px;
}
h1 {
    margin : 22px 0px;
    font-size : 2em;
}
h2 {
    margin : 20px 0px;
    font-size: 1.5em;
}
h3 {
    font-size : 1.15em;
}
nav {
    margin : 20px 40px;
}
#description {
    margin : 20px 0px;
}
article p{
    margin : 15px 0px;
}
figure {
    margin-left : 40px;
}
figcaption {
    font-style: italic;
}
#relatedPhotos {
    margin : 20px 0px;
}
#reviews {
    margin : 20px 0px;
}
footer p {
    margin : 16px 0px;
}