p {
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    margin: 20px;
    width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  
}
h1 {
    padding: 10px;
}
.card {
    width: 70%;
    height: 90%;
    margin-left: inherit;
}
.card-title{
    text-align: center;
}
.card-text {
    margin-left:inherit;
}
footer {
  font-size: 4em;
  background-color: #3f3f3f;

  color: #d5d5d5;

  padding-top: 2rem;

}


hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  width: 100%;
  border-top: 1px solid #d5d5d5;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.btn-primary {
    background-color: grey;
    border-color: white;
}
